* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body, html, #game-container, #game {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  font-size: 16px;
}

#game {
  display: flex;
  flex-direction: row;
}

#world-map {
  height: 100%;
  width: 80%;
}

#exploration-view {
  height: 100%;
  width: 80%;
}

@mixin acrylic-back($color) {
  background-color: $color !important;
  background-image: url('../../assets/noise.png') !important;
}

@mixin acrylic-front($color) {
  @include acrylic-back($color);
  backdrop-filter: blur(10px);
}

@mixin transition() {
  transition-property: background;
  transition-duration: 0.2s;
}

$color-primary: #304FFE;
$color-bg: rgb(40, 40, 40);
$color-text: rgb(240, 240, 240);

.sidebar {
  @include acrylic-back($color-bg);
  z-index: 2137;
  width: 22%;
  height: 100%;
  background-color: $color-bg;
  background-image: url('../../assets/noise.png');
  color: $color-text;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.8);
  padding: 0.8em 0;
}

.sidebar-button {
  font-weight: 500 !important;
  display: flex;
  padding: 0.8em 1.5em; 
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  @include transition;

  &--icon {
    flex: 0 0 2em;
    font-size: 20px;
  }

  &--text {
    flex: 1 0 0;
  }

  &--arrow {
    color: rgba($color-text, 0.4);
  }
  

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.leaflet-container {
  font: inherit !important;
}

.leaflet-marker-icon {
  @include acrylic-front(rgba($color-bg, 0.7));
  font-size: 90%;
  font-weight: bold;
  position: absolute;
  padding: 0.5em; 
  color: $color-text;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border: none !important;
  @include transition;

  &:hover {
    @include acrylic-front($color-primary);
  }
}