@mixin acrylic-solid($color) {
  background-color: $color !important;
  background-image: url('../../assets/noise.png') !important;
}

@mixin acrylic-front($color) {
  @include acrylic-solid($color);
  backdrop-filter: blur(10px);
}

@mixin transition() {
  transition-property: background, border-color, color;
  transition-duration: 0.2s;
}

$color-primary: #304FFE;
$color-bg: rgb(40, 40, 40);
$color-text: rgb(240, 240, 240);

$color-travel-primary: #304FFE;
$color-web-browser-primary: #304FFE;


* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body, html, #game-container, #game {
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

body {
  font-size: 16px;
  background: rgb(0, 0, 0);
}

#game {
  display: flex;
  flex-direction: row;

  > div:first-child {
    position: absolute;
    width: 100%;
    height: 100%;

    > div:first-child {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.mongear-animator {
  z-index: 9001;
  width: 100%;
  height: 100%;
  position: absolute;
}

.app {
  width: 100%;
  height: 100%;

  &--web-browser {
    background: #DDDDDD;

    .top-bar {
      @include acrylic-solid(rgb(235, 235, 235));
      height: 6%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .address-bar {
      width: 600px;   
      border: none;
      text-align: center;
      padding: 0.4em;
      border-radius: 2px;
    }

    webview {
      width: 100%;
      height: 94%;
    }
  };
}

#world-map {
  height: 100%;
  width: 100%;
}


.view {
  height: 100%;
  width: 1056px;
  position: absolute;

  &--location {
    background-size: cover;
  }

  &--gaben {
    > canvas {
      width: 100%;
      height: 100%;
    }
  }
}

.location-view-panel {
  @include acrylic-front(rgba(50, 50, 50, 0.8));
  margin: 0 2em 1em 2em;
  border: 2px solid rgba(20, 20, 20, 0.3);
  padding: 1em;
  color: $color-text;
  box-sizing: border-box;

  &:first-child {
    margin-top: 2em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--settlement {
    height: calc((100% - 4em - 1em) * 0.7);

    .location-view-panel__header {
      align-items: center;
      display: flex;

      > img {
        height: 0.9em;
        width: 1.5em;
        margin-right: 0.5em;
      }
    }
  }

  &--exploration-zone {
    height: calc((100% - 4em - 1em) * 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    font-size: 170%;
    font-weight: bold; 
    margin-bottom: 0.5em;
    margin-top: -0.15em;
    position: relative;
  }

  &__enter-zone-button {
    font-weight: 500;
    padding: 1em 2em;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(#EF6C00, 0.8);
    color: #EF6C00;
    cursor: pointer;
    align-self: flex-end;
    @include transition();

    &:hover {
      border-color: lighten(rgba(#EF6C00, 0.8), 20%);
      color: lighten(rgba(#EF6C00, 0.8), 20%);
      background: rgba(255, 255, 255, 0.05);
    }

    &:active {
      background: rgba(0, 0, 0, 0.2);
      border-color: rgba(#EF6C00, 0.8);
      color: #EF6C00;
    }
  }
}

.sidebar {
  @include acrylic-solid($color-bg);
  position: absolute;
  right: 0;
  z-index: 2137;
  width: 310px;
  height: 100%;
  background-color: $color-bg;
  color: $color-text;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__group {
    
  }
}

.sidebar-button {
  font-weight: 500 !important;
  display: flex;
  padding: 0.8em 1.5em; 
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  @include transition;

  &__icon {
    flex: 0 0 2em;
    font-size: 20px;
  }

  &__text {
    flex: 1 0 0;
  }

  &__arrow {
    color: rgba($color-text, 0.4);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.leaflet-container {
  font: inherit !important;
}

.leaflet-marker-icon {
  background: rgba($color-bg, 0.7);
  font-size: 90%;
  font-weight: bold;
  position: absolute;
  padding: 0.5em; 
  color: $color-text;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border: none !important;
  @include transition;

  &:hover {
    @include acrylic-front($color-travel-primary);
  }
}

.screen-fade {
  background: rgba(0, 0, 0, 0.7);
  z-index: 2138;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mongear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__screen {
    margin: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    background: url("../../assets/wallpaper.jpg");
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
  }

  &__app-container {
    > div {
      width: 100%;
      height: 100%;

      > div {
        width: calc(100% - 2em);
        height: calc(94.4% - 2em);
        position: absolute;
      }
    }
  }

  &__app-bar {
    @include acrylic-front(rgba(255, 255, 255, 0.5));
    width: 100%;
    height: 6%;
    z-index: 9001;
    display: flex;
    align-items: center;
    font-size: 110%;
    color: rgb(50, 50, 50);
    justify-content: space-between;
  }

  &__app-bar-buttons {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__app-bar-button {
    padding: 0 0.6em;
    align-self: stretch;
    display: flex;
    align-items: center;
    font-size: 120%;

    &:hover {
      @include transition();
      cursor: pointer;
    }

    &--travel {
      &--active {
        color: $color-travel-primary;
        border-bottom: 2px solid $color-travel-primary;
      }
    }

    &--web-browser {
      &--active {
        color: $color-web-browser-primary;
        border-bottom: 2px solid $color-web-browser-primary;
      }
    }

    &:hover {
      background: rgba(100, 100, 100, 0.1);
    }
  }

  &__app-container {
    width: 100%;
    height: 94%;
  }
}