@import '_colors';
@import '_mixins';
@import 'ui/_game';

.mongear-container {
  z-index: 9001;
  width: 100%;
  height: 100%;
  position: absolute;
}

.app {
  width: 100%;
  height: 100%;

  &--web-browser {
    background: #DDDDDD;

    .top-bar {
      @include acrylic-solid(rgb(240, 240, 240));
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0.31em;
      border-bottom: 1px solid rgb(220, 220, 220);

      > form {
        width: 100%;
      }
    }

    .top-bar-button {
      padding: 0.15em 0.3em;
      color: rgba($color-dark, 0.9);
      font-size: 120%;
      border-radius: 2px;
      @include transition();

      &:not(.top-bar-button--disabled) {
        &:hover {
          cursor: pointer;
          background: rgba($color-dark, 0.1);
        }

        &:active {
          background: $color-light;
        }
      }

      &--disabled {
        color: rgba($color-dark, 0.2);
      }
    }

    .address-bar {
      border: none;
      padding: 0.4em;
      border: 1px solid #dcdcdc;
      background: #fff;
      border-radius: 2px;
      display: flex;
      align-content: center;
      justify-content: flex-start;
      margin-left: 0.2em;

      input {
        outline: none;
        border: none;
        width: 100%;
      }

      &__favicon {
        margin-right: 0.6em;
        width: 16px;
        height: 16px;
        border: none;
      }
    }

    webview {
      width: 100%;
      height: calc(100% - 40px);
    }
  };
}

#world-map {
  height: 100%;
  width: 100%;
}

.view {
  height: 100%;
  width: calc(100% - 310px);
  position: absolute;

  &--location {
    background-size: cover;
  }

  &--gaben {
    > canvas {
      width: 100%;
      height: 100%;
    }
  }
}

.location-view-panel {
  @include acrylic-front(rgba(50, 50, 50, 0.8));
  margin: 0 2em 1em 2em;
  border: 2px solid rgba(20, 20, 20, 0.3);
  padding: 1em;
  color: $color-light;
  box-sizing: border-box;

  &:first-child {
    margin-top: 2em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--settlement {
    height: calc((100% - 4em - 1em) * 0.7);

    .location-view-panel__header {
      align-items: center;
      display: flex;

      > img {
        height: 0.9em;
        width: 1.44em;
        margin-right: 0.5em;
      }
    }
  }

  &--exploration-zone {
    height: calc((100% - 4em - 1em) * 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    font-size: 200%;
    margin-bottom: 0.5em;
    margin-top: -0.15em;
    position: relative;
  }

  &__enter-zone-button {
    font-weight: 500;
    padding: 1em 2em;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(#EF6C00, 0.8);
    color: #EF6C00;
    cursor: pointer;
    align-self: flex-end;
    @include transition();

    &:hover {
      border-color: lighten(rgba(#EF6C00, 0.8), 20%);
      color: lighten(rgba(#EF6C00, 0.8), 20%);
      background: rgba(255, 255, 255, 0.05);
    }

    &:active {
      background: rgba(0, 0, 0, 0.2);
      border-color: rgba(#EF6C00, 0.8);
      color: #EF6C00;
    }
  }
}

.sidebar {
  @include acrylic-solid($color-dark);
  position: absolute;
  right: 0;
  z-index: 2137;
  width: 310px;
  height: 100%;
  background-color: $color-dark;
  color: $color-light;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__group {

  }
}

.sidebar-button {
  font-weight: 500 !important;
  display: flex;
  padding: 0.8em 1.5em;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  @include transition;

  &__icon {
    flex: 0 0 2em;
    font-size: 20px;
  }

  &__text {
    flex: 1 0 0;
  }

  &__arrow {
    color: rgba($color-light, 0.4);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.leaflet-container {
  font: inherit !important;
}

.world-map__zoom-control {
  @include acrylic-front(rgba(255, 255, 255, 0.6));
  position: absolute;
  z-index: 111131111;
  top: 1em;
  left: 1em;
}

.world-map__zoom-button {
  font-size: 110%;
  padding: 0.4em 0.5em;
  cursor: pointer;
  border: 2px solid transparent;
  @include transition();
  color: rgba($color-dark, 0.9);
  transition-property: color, border-color, background-color;

  &--disabled {
    color: rgba($color-dark, 0.2);
  }

  &:not(.world-map__zoom-button--disabled) {
    &:hover {
      border-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      border-color: transparent;
      background-color: transparent;
    }
  }
}

.world-map__location-marker {
  width: 4px;
  height: 4px;
  background: rgba($color-dark, 0.7);
  border-radius: 100px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 0 0 1px rgba($color-dark, 0.7);
  @include transition();
  transition-property: opacity;
  opacity: 1;

  .zoom-4 &, .zoom-5 & {
    opacity: 0;
  }
}

.world-map__location-label-current-location-icon {
  margin-right: 0.2em;
}

.world-map__location-label {
  background: rgba($color-dark, 0.7);
  font-weight: bold;
  position: absolute;
  font-size: 90%;
  padding: 0.2em 0.5em;
  color: $color-light;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border: none !important;
  border-radius: 0 !important;
  @include transition;
  opacity: 1 !important;

  &--with-exploration-zone {
    border-bottom: 3px solid #EF6C00 !important;
  }

  .world-map__location-label-exploration-zone-name {
    display: none;
  }

  &:hover {
    background: $color-travel;
    z-index: 13337;

    .world-map__location-label-exploration-zone-name {
      display: block;
      font-weight: 500;
      font-size: 90%;
      color: rgba($color-light, 0.8);
    }
  }
}

.screen-fade {
  background: rgba(0, 0, 0, 0.7);
  z-index: 2138;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mongear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__screen {
    margin: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    background: url("../../assets/wallpaper.jpg");
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  &__app-container {
    > div {
      width: 100%;
      height: 100%;

      > div {
        width: calc(100% - 2em);
        height: calc(100% - 50px - 2em);
        position: absolute;
      }
    }
  }

  &__app-bar {
    @include acrylic-front(rgba(255, 255, 255, 0.6));
    width: 100%;
    height: 50px;
    z-index: 9001;
    display: flex;
    align-items: center;
    font-size: 120%;
    color: rgb(50, 50, 50);
    justify-content: space-between;
  }

  &__app-bar-buttons {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__app-bar-button {
    padding: 0 0.7em;
    align-self: stretch;
    display: flex;
    align-items: center;
    font-size: 120%;
    color: rgba($color-dark, 0.9);

    &:hover {
      @include transition();
      cursor: pointer;
    }

    &--active {
      padding-top: calc(2px);
    }

    &#{--travel}#{& + --active} {
      color: $color-travel;
      border-bottom: 2px solid $color-travel;
    }

    &#{--web-browser}#{& + --active} {
      color: $color-web-browser;
      border-bottom: 2px solid $color-web-browser;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &__app-container {
    width: 100%;
    height: calc(100% - 50px);
  }
}