* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: default;
  background: rgb(0, 0, 0);
  font: 16px 'Roboto';
  letter-spacing: -0.03em;
}

input {
  font-family: inherit;
}